<ul id="menu">
	<li class="ui-state-disabled"><a href="#">Aberdeen</a></li>
	<li><a href="#">Ada</a></li>
	<li><a href="#">Adamsville</a></li>
	<li><a href="#">Addyston</a></li>
	<li>
		<a href="#">Delphi</a>
		<ul>
			<li class="ui-state-disabled"><a href="#">Ada</a></li>
			<li><a href="#">Saarland</a></li>
			<li><a href="#">Salzburg</a></li>
		</ul>
	</li>
	<li><a href="#">Saarland</a></li>
	<li>
		<a href="#">Salzburg</a>
		<ul>
			<li>
				<a href="#">Delphi</a>
				<ul>
					<li><a href="#">Ada</a></li>
					<li><a href="#">Saarland</a></li>
					<li><a href="#">Salzburg</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Delphi</a>
				<ul>
					<li><a href="#">Ada</a></li>
					<li><a href="#">Saarland</a></li>
					<li><a href="#">Salzburg</a></li>
				</ul>
			</li>
			<li><a href="#">Perch</a></li>
		</ul>
	</li>
	<li class="ui-state-disabled"><a href="#">Amesville</a></li>
</ul>