<div class="center">

	<div class="row">
	 <div class="col-xs-12"><span>.col-xs-12</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-1"><span>.col-xs-1</span></div>
	 <div class="col-xs-11"><span>.col-xs-11</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-6 col-sm-2"><span>.col-xs-6.col-sm-2</span></div>
	 <div class="col-xs-6 col-sm-10"><span>.col-xs-6.col-sm-10</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-12 col-lg-6"><span>.col-xs-12.col-lg-6</span></div>
	 <div class="col-xs-12 col-lg-6"><span>.col-xs-12.col-lg-6</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-4"><span>.col-xs-4</span></div>
	 <div class="col-xs-8"><span>.col-xs-8</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-5"><span>.col-xs-5</span></div>
	 <div class="col-xs-7"><span>.col-xs-7</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-6"><span>.col-xs-6</span></div>
	 <div class="col-xs-6"><span>.col-xs-6</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-7"><span>.col-xs-7</span></div>
	 <div class="col-xs-5"><span>.col-xs-5</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-8"><span>.col-xs-8</span></div>
	 <div class="col-xs-4"><span>.col-xs-4</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-9"><span>.col-xs-9</span></div>
	 <div class="col-xs-3"><span>.col-xs-3</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-10"><span>.col-xs-10</span></div>
	 <div class="col-xs-2"><span>.col-xs-2</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-11"><span>.col-xs-11</span></div>
	 <div class="col-xs-1"><span>.col-xs-1</span></div>
	</div>

	<div class="row">
	 <div class="col-xs-12"><span>.col-xs-12</span></div>
	</div>

</div>



