<div class="alert alert-info visible-sm visible-xs">
 <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
 Please note that <span class="blue bolder">top menu style</span>
 is visible only in devices larger than <span class="blue bolder">991px</span> which you can change using CSS builder tool.
</div>

<div class="well well-sm visible-sm visible-xs">
 <button type="button" class="close line-height-0" data-dismiss="alert">
	<i class="ace-icon fa fa-times smaller-80"></i>
 </button>
 Top menu can become any of the 3 mobile view menu styles: <em>default</em>, <em>collapsible</em> or <em>minimized</em>.
</div>



<div class="center">
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>



