<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.example.mapper.LoginRecordMapper" >
    <resultMap id="BaseResultMap" type="com.cy.example.entity.LoginRecordEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="c_createDate" property="c_createDate" jdbcType="VARCHAR" />
        <result column="c_loginIp" property="c_loginIp" jdbcType="VARCHAR"/>
        <result column="c_username" property="c_username" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="ColumnList" >
        id, c_createDate, c_loginIp, c_username
    </sql>
    
    <select id="searchAll" resultMap="BaseResultMap">
	   select <include refid="ColumnList" />
	   from loginrecord
	   where 1=1
	   <if test="loginRecord.c_username != null"><if test="loginRecord.c_username != null"> and c_username like CONCAT('%',#{loginRecord.c_username},'%')</if></if>
   	   <if test="loginRecord.c_loginIp != ''"><if test="loginRecord.c_loginIp != null"> and c_loginIp like CONCAT('%',#{loginRecord.c_loginIp},'%')</if></if>
   	   <if test="loginRecord.c_createDate != ''"><if test="loginRecord.c_createDate != null">	and substr(c_createDate,1,10) = #{loginRecord.c_createDate}</if></if>
   	   order by id limit #{page.index},#{page.rows}
    </select>  
    
    <select id="searchAllCount" resultType="java.lang.Integer" >
	   select count(id)
	   from loginrecord
	   where 1=1
	  <if test="loginRecord.c_username != null"><if test="loginRecord.c_username != null"> and c_username like CONCAT('%',#{loginRecord.c_username},'%')</if></if>
   	   <if test="loginRecord.c_loginIp != ''"><if test="loginRecord.c_loginIp != null"> and c_loginIp like CONCAT('%',#{loginRecord.c_loginIp},'%')</if></if>
   	   <if test="loginRecord.c_createDate != ''"><if test="loginRecord.c_createDate != null">	and substr(c_createDate,1,10) = #{loginRecord.c_createDate}</if></if>
   	   order by id limit #{page.index},#{page.rows}
    </select>
</mapper>