<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.example.mapper.Role_PermisMapper" >
    <resultMap id="BaseResultMap" type="com.cy.example.carrier.Role_Permis_Ca" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="n_permisId" property="n_permisId" jdbcType="BIGINT"/>
        <result column="n_roleId" property="n_roleId" jdbcType="BIGINT"/>
        <result column="c_username" property="c_username" jdbcType="VARCHAR" />
        <result column="c_permisName" property="c_permisName" jdbcType="VARCHAR" />
        <result column="c_createDate" property="c_createDate" jdbcType="VARCHAR" />
        <result column="n_creater" property="n_creater" jdbcType="BIGINT" />
        <result column="c_updateDate" property="c_updateDate" jdbcType="VARCHAR"/>
        <result column="n_updater" property="n_updater" jdbcType="BIGINT" />
    </resultMap>
    
    <sql id="ColumnList" >
        a.id, n_permisId,n_roleId
    </sql>
    
    <select id="searchAll" resultMap="BaseResultMap">
	   select <include refid="ColumnList" />,p.c_permisName,r.c_roleName,a.c_createDate,a.c_updateDate
	   from sys_role_permission a
	   left join sys_permission p
	   on p.id = a.n_permisId
	   left join sys_roles r
	   on r.id = a.n_roleId
	   where a.n_deleted = 0
	   <if test="rp.n_permisId != ''"><if test="rp.n_permisId != '0'"> and n_permisId = #{rp.n_permisId}</if></if>
	   <if test="rp.n_roleId != ''"><if test="rp.n_roleId != '0'"> and n_roleId = #{rp.n_roleId}</if></if>
	   <if test="rp.c_createDate != ''"><if test="rp.c_createDate != null">	and substr(c_createDate,1,10) = #{rp.c_createDate}</if></if>
   	   <if test="rp.c_updateDate != ''"><if test="rp.c_updateDate != null">  and substr(c_updateDate,1,10) = #{rp. c_updateDate}</if></if>
   	   order by id limit #{page.index},#{page.rows}
    </select>  
    
    <select id="searchAllCount" resultType="java.lang.Integer" >
	   select count(id)
	   from sys_role_permission
	   where 1=1
	   <if test="rp.n_permisId != ''"><if test="rp.n_permisId != '0'"> and n_permisId = #{rp.n_permisId}</if></if>
	   <if test="rp.n_roleId != ''"><if test="rp.n_roleId != '0'"> and n_roleId = #{rp.n_roleId}</if></if>
	   <if test="rp.c_createDate != ''"><if test="rp.c_createDate != null">	and substr(c_createDate,1,10) = #{rp.c_createDate}</if></if>
   	   <if test="rp.c_updateDate != ''"><if test="rp.c_updateDate != null">  and substr(c_updateDate,1,10) = #{rp. c_updateDate}</if></if>
    </select>
    
    <select id="findAll" resultMap="BaseResultMap">
	   select <include refid="ColumnList" />,p.c_permisName,r.c_roleName,a.c_createDate,a.c_updateDate
	   from sys_role_permission a
	   left join sys_permission p
	   on p.id = a.n_permisId
	   left join sys_roles r
	   on r.id = a.n_roleId
	   where a.n_deleted = 0
   	   order by id limit #{page.index},#{page.rows}
    </select>  
    
    <select id="findAllCount" resultType="java.lang.Integer" >
	   select count(id)
	   from sys_role_permission
	   where n_deleted = 0
    </select>
</mapper>