<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.example.mapper.system.Role_MenuMapper" >
    <resultMap id="BaseResultMap" type="com.cy.example.carrier.Role_Menu_Ca" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="n_roleId" property="n_roleId" jdbcType="BIGINT"/>
        <result column="c_roleName" property="c_roleName" jdbcType="VARCHAR" />
        <result column="n_menuId" property="n_menuId" jdbcType="BIGINT" />
		<result column="c_menuName" property="c_menuName" jdbcType="VARCHAR" />
		<result column="c_url" property="c_url" jdbcType="VARCHAR" />
		<result column="c_node" property="c_node" jdbcType="VARCHAR" />
        <result column="c_createDate" property="c_createDate" jdbcType="VARCHAR" />
        <result column="n_creater" property="n_creater" jdbcType="BIGINT" />
        <result column="c_updateDate" property="c_updateDate" jdbcType="VARCHAR"/>
        <result column="n_updater" property="n_updater" jdbcType="BIGINT" />
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
	   select a.id, n_menuId,n_roleId,r.c_roleName,m.c_node,m.c_menuName,m.c_url,a.c_createDate,a.c_updateDate
	   from sys_role_menu a
	   left join sys_menu m
	   on m.id = a.n_menuId
	   left join sys_role r
	   on r.id = a.n_roleId
	   where a.n_deleted = 0
	   and n_roleId = #{n_roleId}
    </select>
    
</mapper>