<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.example.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.cy.example.entity.UserEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="c_username" property="c_username" jdbcType="VARCHAR" />
        <result column="c_pwd" property="c_pwd" jdbcType="VARCHAR" />
        <result column="c_phone" property="c_phone" jdbcType="VARCHAR"/>
        <result column="n_age" property="n_age" jdbcType="INTEGER" />
        <result column="n_sex" property="n_sex" jdbcType="INTEGER" />
    </resultMap>
    
    <sql id="ColumnList" >
        id, c_username, c_pwd, c_phone , n_age,
    </sql>
    
    <select id="findAll" resultMap="BaseResultMap"  >
	   select id, c_username, c_phone , n_age,
	   case when n_sex=1 then '男'
	   when n_sex=0 then '女' end as n_sex 
	   from users
    </select>
    
    <select id="searchAll" resultMap="BaseResultMap"  >
	   select id, c_username, c_phone , n_age,
	   case when n_sex=1 then '男'
	   when n_sex=0 then '女' end as n_sex 
	   from users
	   where 1=1
	   <if test="c_username != ''"> and 	c_username = #{c_username}</if>
   	   <if test="c_phone != ''"> and c_phone = #{c_phone}</if>
   	   <if test="n_age != ''">	and n_age = #{n_age}</if>
   	   <if test="n_sex != ''">  and n_sex = #{n_sex}</if>
	   
    </select>  

    <select id="validate" parameterType="com.cy.example.entity.UserEntity" resultMap="BaseResultMap"  >
	  select <include refid="ColumnList" />
	   case when n_sex=1 then '男'
	   when n_sex=0 then '女' end as n_sex 
	   from users where c_username = #{c_username} and c_pwd = #{c_pwd}
    </select>
    

    <select id="findOneById" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="ColumnList" />
	   case when n_sex=1 then '男'
	   when n_sex=0 then '女' end as n_sex 
	   FROM users
	   WHERE id = #{id}
    </select>

    <insert id="add" parameterType="com.cy.example.entity.UserEntity" >
       insert into 
       		users(c_username, c_pwd,c_phone,n_age,n_sex) 
       	values(#{c_username},
        <choose>
			<when test="c_pwd == ''">
               '123456',
	        </when>
	        <otherwise>
	              #{c_pwd},
	        </otherwise>
		</choose>
		#{c_phone},#{n_age},#{n_sex})
    </insert>
    
    <update id="update" parameterType="com.cy.example.entity.UserEntity" >
       UPDATE 
       		users 
       SET 
       	<if test="c_pwd != null">
       		<if test="c_pwd != '' ">
       			c_pwd = #{c_pwd},
       		</if> 
       	</if>
       	c_phone = #{c_phone},
       	n_age = #{n_age},
       	n_sex = #{n_sex},
       	c_username = #{c_username}
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long" >
       delete from users where id = #{id}
    </delete>
</mapper>