<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.example.mapper.User_RoleMapper" >
    <resultMap id="BaseResultMap" type="com.cy.example.carrier.User_Role_Ca" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="n_userId" property="n_userId" jdbcType="BIGINT"/>
        <result column="n_roleId" property="n_roleId" jdbcType="BIGINT"/>
        <result column="c_username" property="c_username" jdbcType="VARCHAR" />
        <result column="c_roleName" property="c_roleName" jdbcType="VARCHAR" />
        <result column="c_createDate" property="c_createDate" jdbcType="VARCHAR" />
        <result column="n_creater" property="n_creater" jdbcType="BIGINT" />
        <result column="c_updateDate" property="c_updateDate" jdbcType="VARCHAR"/>
        <result column="n_updater" property="n_updater" jdbcType="BIGINT" />
    </resultMap>
    
    <sql id="ColumnList" >
        a.id, n_userId,n_roleId
    </sql>
    
    <select id="searchAll" resultMap="BaseResultMap">
	   select <include refid="ColumnList" />
	   from sys_roles
	   where 1=1
	   <if test="role.c_roleName != null"><if test="role.c_roleName != null"> and c_roleName like CONCAT('%',#{role.c_roleName},'%')</if></if>
	   <if test="role.c_roleCode != null"><if test="role.c_roleCode != null"> and c_roleCode like CONCAT('%',#{role.c_roleCode},'%')</if></if>
   	   <if test="role.c_createDate != ''"><if test="role.c_createDate != null">	and substr(c_createDate,1,10) = #{role.c_createDate}</if></if>
   	   order by id limit #{page.index},#{page.rows}
    </select>  
    
    <select id="searchAllCount" resultType="java.lang.Integer" >
	   select count(id)
	   from sys_roles
	   where 1=1
	   <if test="role.c_roleName != null"><if test="role.c_roleName != null"> and c_roleName like CONCAT('%',#{role.c_roleName},'%')</if></if>
	   <if test="role.c_roleCode != null"><if test="role.c_roleCode != null"> and c_roleCode like CONCAT('%',#{role.c_roleCode},'%')</if></if>
   	   <if test="role.c_createDate != ''"><if test="role.c_createDate != null">	and substr(c_createDate,1,10) = #{role.c_createDate}</if></if>
   	   order by id limit #{page.index},#{page.rows}
    </select>
    
    <select id="findAll" resultMap="BaseResultMap">
	   select <include refid="ColumnList" />,u.c_username,r.c_roleName,a.c_createDate,a.c_updateDate
	   from sys_user_role a
	   left join users u
	   on u.id = a.n_userId
	   left join sys_roles r
	   on r.id = a.n_roleId
	   where a.n_deleted = 0
   	   order by id limit #{page.index},#{page.rows}
    </select>  
    
    <select id="findAllCount" resultType="java.lang.Integer" >
	   select count(id)
	   from sys_user_role
	   where n_deleted = 0
   	   order by id limit #{page.index},#{page.rows}
    </select>
</mapper>