<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.example.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.cy.example.entity.UserEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="c_username" property="c_username" jdbcType="VARCHAR" />
        <result column="c_pwd" property="c_pwd" jdbcType="VARCHAR" />
        <result column="c_phone" property="c_phone" jdbcType="VARCHAR"/>
        <result column="n_age" property="n_age" jdbcType="INTEGER" />
        <result column="n_sex" property="n_sex" jdbcType="INTEGER" />
        <result column="n_status" property="n_status" jdbcType="INTEGER" />
        <result column="c_createDate" property="c_createDate" jdbcType="VARCHAR" />
        <result column="n_creater" property="n_creater" jdbcType="BIGINT" />
        <result column="c_updateDate" property="c_updateDate" jdbcType="VARCHAR"/>
        <result column="n_updater" property="n_updater" jdbcType="BIGINT" />
        <collection property="roleList" ofType="com.cy.example.entity.SysRoleEntity">
	    	<id column="r_id" property="id"/>
	 		<result column="c_roleName" property="c_roleName" jdbcType="VARCHAR" />
	 		<collection property="permisList" ofType="com.cy.example.entity.SysPermissionEntity">
		    	<id column="p_id" property="id"/>
		 		<result column="c_permisName" property="c_permisName" jdbcType="VARCHAR" />
    		</collection>
    	</collection>
    </resultMap>
    
    <sql id="ColumnList" >
        id, c_username, c_pwd, c_phone , n_age, n_status
    </sql>
    
    <sql id="BaseList" >
        c_createDate, n_creater, c_updateDate, n_updater
    </sql>
    
    <select id="findOneByUsername" parameterType="java.lang.String" resultMap="BaseResultMap" >
       SELECT
			u.id,
			c_username,
			u.c_pwd,
			u.c_phone,
			u.n_age,
			u.n_status,
			u.c_createDate,
			u.n_creater,
			u.c_updateDate,
			u.n_updater,
			CASE
		WHEN n_sex = 1 THEN
			'男'
		WHEN n_sex = 0 THEN
			'女'
		END AS n_sex,
		r.c_roleName,
		r.id as r_id,
		p.id as p_id,
		p.c_permisName
		FROM
			users u
		LEFT JOIN sys_user_role ur ON u.id = ur.n_userId
		LEFT JOIN sys_roles r ON ur.n_roleId = r.id
		LEFT JOIN sys_role_permission rp ON rp.n_role_id = ur.n_roleId
		LEFT JOIN sys_permission p ON p.id = rp.n_permission_id
	   WHERE u.c_username = #{c_username} and u.n_deleted=0
    </select>
    
    <select id="searchAll" resultMap="BaseResultMap"  >
	   select id, c_username, c_phone , n_age,
	   case when n_sex=1 then '男'
	   when n_sex=0 then '女' end as n_sex ,<include refid="BaseList" />
	   from users
	   where n_deleted=0 
	   <if test="user.c_username != ''"><if test="user.c_username != null"> and c_username like CONCAT('%',#{user.c_username},'%')</if></if>
   	   <if test="user.c_phone != ''"><if test="user.c_phone != null"> and c_phone like CONCAT('%',#{user.c_phone},'%')</if></if>
   	   <if test="user.n_age != ''"><if test="user.n_age != null">	and n_age = #{user.n_age}</if></if>
   	   <if test="user.n_sex != ''"><if test="user.n_sex != null">  and n_sex = #{user.n_sex}</if></if>
 	   <if test="user.c_createDate != ''"><if test="user.c_createDate != null">	and substr(c_createDate,1,10) = #{user.c_createDate}</if></if>
   	   <if test="user.c_updateDate != ''"><if test="user.c_updateDate != null">  and substr(c_updateDate,1,10) = #{user.c_updateDate}</if></if>
   	   order by id limit #{page.index},#{page.rows}
    </select>  
    
    <select id="searchAllCount" resultType="java.lang.Integer" >
	   select count(id)
	   from users
	   where n_deleted=0
	   <if test="user.c_username != ''"><if test="user.c_username != null"> and c_username like CONCAT('%',#{user.c_username},'%')</if></if>
   	   <if test="user.c_phone != ''"><if test="user.c_phone != null"> and c_phone like CONCAT('%',#{user.c_phone},'%')</if></if>
   	   <if test="user.n_age != ''"><if test="user.n_age != null">	and n_age = #{user.n_age}</if></if>
   	   <if test="user.n_sex != ''"><if test="user.n_sex != null">  and n_sex = #{user.n_sex}</if></if>
 	   <if test="user.c_createDate != ''"><if test="user.c_createDate != null">	and substr(c_createDate,1,10) = #{user.c_createDate}</if></if>
   	   <if test="user.c_updateDate != ''"><if test="user.c_updateDate != null">  and substr(c_updateDate,1,10) = #{user.c_updateDate}</if></if>
   	   order by id limit #{page.index},#{page.rows}
    </select>

    <update id="updateMy" parameterType="com.cy.example.entity.UserEntity" >
       UPDATE 
       		users 
       SET 
       	<if test="c_pwd != null">
       		<if test="c_pwd != '' ">
       			c_pwd = #{c_pwd},
       		</if> 
       	</if>
       	c_phone = #{c_phone},
       	n_age = #{n_age},
       	n_sex = #{n_sex},
       	c_username = #{c_username},
       	c_updateDate = #{c_updateDate},
       	n_updater = #{n_updater}
       WHERE 
       		id = #{id}
    </update>
</mapper>