<!-- basic scripts -->
{{> layout._template.jquery}}
{{> layout._template.bootstrap}}


<!-- ace scripts -->
{{^site.development}}{{! in production mode use ace-elements.js and ace.js script file }}
 <script src="{{{path.assets}}}/js/ace-elements.min.js"></script>
 <script src="{{{path.assets}}}/js/ace.min.js"></script>
{{/site.development}}

{{#site.development}}{{! in development mode use separate script files }}
 {{#site.ace_scripts}}
  <script src="{{{path.assets}}}/js/ace/{{{.}}}"></script>
 {{/site.ace_scripts}}
{{/site.development}}

<script type="text/javascript">
//Load content via ajax
jQuery(function($) {
  if('enable_ajax_content' in ace) {
	var options = {
	  content_url: function(url) {
		//this is for Ace demo only, you should change it
		//please refer to documentation for more info
	
		if(!url.match(/^page\//)) return false;
		
		var path = document.location.pathname;
		
		//for Ace HTML demo version, convert ajax.html#page/gallery to > gallery.html and load it
		if(path.match(/ajax\.html/)) return path.replace(/ajax\.html/, url.replace(/^page\//, '')+'.html') ;

		//for Ace PHP demo version convert "page/dashboard" to "?page=dashboard" and load it
		return path + "?" + url.replace(/\//, "=");
	  },
	  default_url: 'page/index'//default url
	}
	ace.enable_ajax_content($, options)
  }
    
})
</script>
