{{#site.remote_fontawesome}}
<link rel="stylesheet" href="{{{site.protocol}}}//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
{{/site.remote_fontawesome}}

{{^site.remote_fontawesome}}
<link rel="stylesheet" href="{{{path.assets}}}/css/font-awesome.min.css" />
{{/site.remote_fontawesome}}